# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}
ASVSPOOF_PATH=""
ASVSPOOF_PATH_PROTOCOLS=""
CYBERCUP2_PATH=""
CYBERCUP2_TEST_PATH=""
CYBERCUP1_PATH=""
CYBERCUP1_TEST_PATH=""
NEPTUNE_PROJECT=""
NEPTUNE_API_TOKEN=""
WANDB_PROJECT=""
COMET_API_TOKEN=""
COMET_PROJECT_NAME=""
LARGE_CORPUS_FOR_ASVSPOOF5=""
WAVLMBASE_PRETRAINED_MODEL_PATH=""
NOISE_PATH=""
RIR_PATH=""
OUTPUT_DIR=""
XLSR_PRETRAINED_MODEL_PATH=""
ASVSPOOF5_PATH=""
LARGE_CORPUS_FOR_CNSL=""
LARGE_CORPUS_FOR_CNSL_PROTOCOLS=""
WAVLM_PRETRAINED_MODEL_PATH=""
MY_EXTENDED_ASVSPOOF_PATH=""
MY_EXTENDED_ASVSPOOF_PROTOCOLS=""

NOISE_DATASET_PATH=""
NOISE_DATASET_PROTOCOL=""
AUG_PATH=""
ADAPTER_PATH_LIST=""
ADAPTER_WEIGHTED_LIST=""
LARGE_CORPUS_FOR_CNSL_CONTINUOUS_PROTOCOLS=""

# LoRA
BASE_LINE_FT_PATH=""
